body {
  margin: 0;
  height: 100vh;
  background-color: black;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: sans-serif;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  align-text: center;
}

.landing {
  width: 500px;
  height: 220px;
  background-image: url('./static/ph.png'); 
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  border: solid;
  border-radius: 16px;
  border-color: darkgrey;
  cursor: pointer;
  transition: transform 0.2s ease-in-out;
  
}

.text{
    padding: 100px;
    color: orange;
    text-align: center;
    font-family: "Press Start 2P", system-ui;


}
.press-start-2p-regular {
  font-family: "Press Start 2P", system-ui;
  font-weight: 400;
  font-style: normal;
}
.landing:hover {
  transform: scale(1.15);
}
